extends layout
block content
      .row
          .formHold
          h3.itemtitle Add New Inventory <br><br>
            form(method="post")
              fieldset 
                label(for="name") Product Name:
                input(name="name", type="text", placeholder="Enter a product Name Letters only", required, pattern="[A-Za-z]")
                label(for="type") Type:
                input(name="type", type="text", placeholder="Enter a Product Type")
                label(for="price") Price:
                input(name="price", type="text", placeholder="Enter a price for this product")
                button.button1(type="submit") Create New Inventory Item
                         
                         
                         
                         
                         
                         
    
