extends layout
block content
          .row
            h1 Welcome to the edit product page
                 .grid-container 
                  .item
                  each items in indOne
                    form(method="post")
                     fieldset
                      label(for="name") Name:
                      input(name="name", type="text", value="#{items.name}", style="display:block")
                      br
                      label(for="type") Type:
                      input(name="type", type="text", value="#{items.type}", style="display:block")
                      br
                      label(for="price") Price:
                      input(name="price", type="text", value="#{items.price}", style="display:block")
                      br
                      button.button(type="submit") Edit Product
                           
