extends layout 
block content
    .row
      .holder
        .normal
          h1 Cakes
          h2 To Order
        .normal1
          h1 Breads
          h2 Made Fresh
        .normal2
          h1 Special
          h2 Occasion Foods
    .spacers
      br
      
      script.
        $(document).ready(function(){
        $("h1,h2").click(function(){
        $(this).hide("slow");
        });
        });
    