body {
    background-color: #555;
    background-image: url("/bakery.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    min-height:900px; /* we will remove this later */
    text-align: center;
}

h1{
    font-weight: bold;
    color:   #FFE0C0;
}


ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #FFE0C0;
    width:75%;
    margin-left:12.5%;
    display:none;
}

li {
    float: left;
    text-align:center;
    width:14.2%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
    color:red;
}

.row {
    
    display: inline-block;
    width: 100%;
}



.normal h1 {
    margin-bottom: 2px;    
    font-size: 75px;
    color: blue;
}


.normal h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 75px;
    color: blue;
}

.normal1 h1 {
    margin-bottom: 2px;    
    font-size: 75px;
    color: blue;
}


.normal1 h2 {
    margin-top: 2px;
    margin-bottom: 10px;
    padding-bottom:30px;
    font-size: 75px;
    color: blue;
}


.normal2 h1 {
    margin-bottom: 2px;    
    font-size: 75px;
    color: blue;
}


.normal2 h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 75px;
    color: blue;
}

.normal{
    width: 30%;
    background-image: url('/cupcake.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    float: left;
    height: 300px;
    margin:1%;
}

.normal1 {
    width: 30%;
    background-image: url('/brobread.jpg');
    background-repeat:repeat;
    background-size:cover;
    float: left;
    height: 300px;
    margin:1%;
}

.normal2 {
    width: 30%;
    background-image: url('/events.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    float: left;
    height: 300px;
    margin: 1%;
}
.normal2:hover{
    background-image: url('/platter.jpg');
}

.normal1:hover{
    background-image: url('/b1.jpeg');
}

.normal:hover{
    background-image: url('/appletart.jpg');
}


fieldset{
    text-align: left;
    width:75%;
    height:75%;
    display: block;
}


label{
    width:50%;
    display:block;
    
    
}

input{
    text-align: center;
    display:block;
    width:100%;
    height: 20%;
}

h3{
    color:#ffcc99;
}

.button1 {
    font-size: 20px;
    color:#cc9900;
    
}

form{
    padding-left:12.5%;
}



.grid-container {
  color:brown;
  display: grid;
  align-content: left;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 10px;
}


.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
  
}

a.button {
    background-color: #ffcc99; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:50%;
    margin:5px;
}

.button2 {
    background-color: #FFE0C0;
    border: solid;
    border-color: brown;
    color:brown;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 20px;
}



button4{
    background-color: #FFE0C0;
    border: solid;
    border-color: brown;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 20px;
}




.footer {
    background-color: #FFE0C0;
    color:black;
    margin-left: 27%;
    width: 45%;
    font-size: 30px;
    display: block;
}
